<!DOCTYPE html>
<html>
  <head>
    <title>Calender</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  
  <header>
    <h1>Ruby on Rails スケジュール管理アプリ</h1>
  </header>
  <body>
  <%= yield %>
  </body>
  <footer>
    <h1>現在の日付:<%= Date.current.strftime('%Y年 %m月 %d日') %></h1>
    <h3>スケジュールの合計:<%= Post.all.count %></h3>
  </footer>
</html>
